/node_modules
/public/vendor
/storage/*.cer
/storage/*.key
/storage/*.json
/data.ms
/vendor
/.idea
/.vscode
.env
.env.backup
.phpunit.result.cache
.DS_Store
.docker-compose.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
supervisord.pid
composer.lock
!tw.php
